h1 {
    color: red;
}

th {
    background-color: aquamarine;
}

.content {
    max-width: 900px;
    margin: auto;
}

tr:nth-child(even){
    background-color: honeydew;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}

#mspacman_img {
    width: 400px;
    height: 400px;
}

#a3c_algo {
    width: 550px;
    height: 500px;
}
